.profile {
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#71a08a;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}


.profile h2{
    color: white;
}

