/* styling of all the tweets that are being posted */

article {
  width: 100%;
  border: 5px solid black;
  padding: 10px;
  padding-bottom: 22px;
  box-shadow: 0px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;

}

article:hover{
  box-shadow: 9px 9px 4px rgb(149, 149, 162);
}

.header{
  display:flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right:5%;
}

footer{
  margin-left:2%
}

.tweet-handle{

  margin-top: 32px;
  
}

.name{
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  margin-right: auto;
}

.icon{
  margin-top: 32px;

}

.tweet-icons{
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  margin-right: 2%;

}

.time-ago{
  flex-direction: row;
  display: flex;
  width: 100%;
  width:max-content;
  margin-left: 5%;
  margin-right:5%;

}

.tweet{
  border-bottom: black 5px solid;
  margin-bottom: 10px;
  padding-bottom: 22px;
}


article header {
  color:blue;
}

article footer{
  display:flex;
  color: aqua;
}

.fa-flag:hover{
  color: yellow;
}

.fa-retweet:hover{
  color: yellow;
}

.fa-heart:hover{
  color: yellow;
}

